# Dati Strutturati

In [1]:
import pandas as pd

In [15]:
BASE_URL = "https://github.com/ProfAI/machine-learning-fondamenti/blob/main/datasets/"

### CSV

In [12]:
df = pd.read_csv(BASE_URL+"shirts_example.csv", index_col=0)
df.head()

  taglia  colore  prezzo
0      S  bianco    4.99
1      M  bianco   19.99
2     XL  bianco   12.49
3     XL  bianco   14.99
4      S  bianco   14.99

### TSV

In [13]:
df = pd.read_csv(BASE_URL+"shirts_example.tsv", index_col=0, sep="\t")
df.head()

  taglia  colore  prezzo
0      S  bianco    4.99
1      M  bianco   19.99
2     XL  bianco   12.49
3     XL  bianco   14.99
4      S  bianco   14.99

### EXCEL
Formati supportati xls, xlsx, xlsm, xlsb, odf, ods e odt.

In [15]:
pip install odfpy

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
Requirement already satisfied: defusedxml in c:\users\gfgul\anaconda3\lib\site-packages (from odfpy) (0.7.1)
Building wheels for collected packages: odfpy
  Building wheel for odfpy (setup.py): started
  Building wheel for odfpy (setup.py): finished with status 'done'
  Created wheel for odfpy: filename=odfpy-1.4.1-py2.py3-none-any.whl size=137339 sha256=f65d5a958697eaf0972f589d7653a331655afc6eec693662568a618e384c371e
  Stored in directory: c:\users\gfgul\appdata\local\pip\cache\wheels\ea\af\da\2bdd7308f7b334429a558df1e36d31864cd19c07ede92ddf0e
Successfully built odfpy
Installing collected packages: odfpy
Successfully installed odfpy-1.4.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
df = pd.read_excel(BASE_URL+"shirts_example.ods", index_col=0)
df.head()

  taglia  colore  prezzo
0      S  bianco    4.99
1      M  bianco   19.99
2     XL  bianco   12.49
3     XL  bianco   14.99
4      S  bianco   14.99

#### HTML

In [12]:
df = pd.read_html(BASE_URL+"shirts_example.html", index_col=0, header=0)
df[0].head()

  taglia  colore  prezzo
0      S  bianco    4.99
1      M  bianco   19.99
2     XL  bianco   12.49
3     XL  bianco   14.99
4      S  bianco   14.99

### XML

In [17]:
# serve la version 1.3.0
!pip install pandas --upgrade # --user # solo per l'utente corrente

Requirement already satisfied: pandas in c:\users\gfgul\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in c:\users\gfgul\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\gfgul\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gfgul\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\gfgul\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [14]:
df = pd.read_xml(BASE_URL+"shirts_example.xml")
df.head()

   id taglia  colore  prezzo
0   0      S  bianco    4.99
1   1      M  bianco   19.99
2   2     XL  bianco   12.49
3   3     XL  bianco   14.99
4   4      S  bianco   14.99

### JSON

In [13]:
df = pd.read_json(BASE_URL+"shirts_example.json")
df.head()

  taglia  colore  prezzo
0      S  bianco    4.99
1      M  bianco   19.99
2     XL  bianco   12.49
3     XL  bianco   14.99
4      S  bianco   14.99